
.contenitore{
    display: inline-flex;
}
#data{
    display: none;
}
#loading{
    display: inline-flex;
}
#Container, #led1Container, #led2Container, #led3Container, #led4Container{
    margin-bottom: 50px;
    margin-right: 50px;
    border: solid black 3px;
}
#Container{
    width: 350px;
}

#led1Container, #led2Container, #led3Container, #led4Container{
    width: 160px;
}

.bright{
    margin-right: 50px;
}

.temp{
    margin-left: 50px;
}

.temp, .bright{
    display: inline-flex;
    display: block;
    margin-top: 50px;
    height: 120px;
    border: solid black 3px;
}
img{
    width: 60px;
}
#loading > img{
    width: 100px;
}
