div{
    margin-right: 50px;
}
.contenitore{
    display: inline-flex;
}
#data{
    display: none;
}
#loading{
    display: inline-flex;
}
#Container{
    display: inline-flex;
    display: block;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: solid black 3px;
}
img{
    width: 60px;
}
#loading > img{
    width: 100px;
}
