
.contenitore{
    display: inline-flex;
}
#data{
    display: none;
}
#loading{
    display: inline-flex;
}

.bright{
    margin-right: 50px;
}

.temp{
    margin-left: 50px;
}

.temp, .bright{
    display: inline-flex;
    display: block;
    margin-top: 50px;
    height: 120px;
    border: solid black 3px;
}
img{
    width: 60px;
}
#loading > img{
    width: 100px;
}
